.center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container {
    display: flex;
    justify-content: center;
}

.container img {
    max-width:35%;
    max-height:35%;
    width: auto;
    height: auto;
}

.container-cards {
    display: flex;
    justify-content: center;
    width: 80%;
}