.divider-right {
    float: right;
    cursor: pointer;
    margin-right: 6.5%;
}

span {
    color: #477493 !important;
    font-size:30px;
}

.count {
    font-size: 12px;
}

.center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container-products {
    background-color: #f5f5f5;
    padding: 15px;
}

.products {
    background-color: #f5f5f5;
    width: 85%;
    padding: 10px;
}