.center
    .divider
        .divider-left.subtitle
            | Products
        .divider-right
            span
                i.fa.fa-cart-arrow-down.size((click)="goToPage('cart')")
            span.count {{ countProducts }}
.center
    div.products
        app-cards([produtos]='products')