.divider {
    justify-content: space-between;
    overflow: hidden;
    background-color: #f5f5f5;
    padding: 10px;
    align-items: center;
    width: 85%;
}

.divider-right {
    float: right;
    cursor: pointer;
    margin-right: 6.5%;
}

.divider-left {
    float: left;
}

span {
    color: #477493 !important;
    font-size:30px;
}

.count {
    font-size: 12px;
}

.center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container-products {
    background-color: #f5f5f5;
    padding: 15px;
}

.products {
    background-color: #f5f5f5;
    width: 85%;
    padding: 10px;
}

.subtitle {
    font-size: 32px;
    margin-left: 6.5%;
}